mixin cartMenu(menu)
    div.cart-menu
        div.cart-menu__header
            h4.cart-menu__name=menu.menu_name 
            a.cart-menu__delete(href=`/user/cart/delete?cart_id=${menu.cart_id}&incart_id=${menu.id}`)
                i.fa-solid.fa-xmark.fa-lg
        div.cart-menu__info
            div.cart-menu__price #{menu.price}원 
            div.cart-menu__quantity 수량: #{menu.quantity} 
