extends base
include mixins/menu

block content 
    div.d-flex.flex-column.align-items-center.w-100
        img.img-fluid.rounded.border.border-light(src="https://picsum.photos/400/200")
        div.store-info.d-flex.flex-column.align-items-center.m-3.w-100
            h3.store-info__title=store.storeName 
            form(method="post")
                if like 
                    input(type="text", name="submit", value="Unlike", hidden)
                    button.like-btn(type="submit")
                        i.fa-solid.fa-heart.fa-xl
                else 
                    input(type="text", name="submit", value="Like", hidden)
                    button.like-btn(type="submit")
                        i.fa-regular.fa-heart.fa-xl
            div.store-info__rating ⭐ #{store.rating.toFixed(2)} (#{store.rating_count > 100 ? '100+' : store.rating_count})
                a.view-reviews(href=`/stores/${store.id}/${store.storeName}/reviews`)  리뷰조회
            div.store-info__fee 배달팁 #{store.deliveryPrice}원
        div.menu-grid.d-flex.flex-column.align-items-center.w-100
            each menu in menus 
                +menu(store.id, menu)
            else
                span.empty__message 등록된 메뉴가 없습니다!
